body {
    color: black;
    background: white;
}

:link    { color: #00C; background: transparent }
:visited { color: #609; background: transparent }
a:active { color: #C00; background: transparent }

h1, h2, h3, h4, h5, h6 { text-align: left; background-color: #eee; padding: 0.25ex }
h2, h3, h4, h5, h6 { margin-top: 2.5ex; }
h1, h2, h3 { color: #005A9C; }

.label { font-style: italic; margin-bottom: 0.5ex; }
.index { padding: 1ex; border: 2px dotted gray; background-color: #eee; }
.restriction { margin-bottom: 2ex; padding: 0; }
.description { margin-bottom: 2ex; }
.blankdesc { background-color: #eee; margin: 0.5em }
.blankterm { padding-right: 0.5em; }

dl { padding: 0; margin: 0 }
dt { font-weight: bold ; margin-top: 0.75ex; }

hr {
    color: silver;
    background-color: silver;
    height: 1px;
    border: 0;
    margin-top: 3ex;
    margin-bottom: 3ex
}

div.head { margin-bottom: 1em }
div.head h1 { margin-top: 2em; clear: both }
div.head table { margin-left: 2em; margin-top: 2em }

pre { margin-left: 2em; color: #373; }

@media aural {  
    dt { pause-before: 20% }
    pre { speak-punctuation: code } 
}
